In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../sample.csv")

In [4]:
df

      area  sales  profit
0    North      5       2
1     East     25       8
2     West     15       6
3    South     20       5
4  Central     10       3

In [5]:
df['area']

0      North
1       East
2       West
3      South
4    Central
Name: area, dtype: object

In [6]:
type(df.area)

pandas.core.series.Series

In [7]:
df.profit

0    2
1    8
2    6
3    5
4    3
Name: profit, dtype: int64

In [8]:
df.shape

(5, 3)

In [9]:
df.head

<bound method NDFrame.head of       area  sales  profit
0    North      5       2
1     East     25       8
2     West     15       6
3    South     20       5
4  Central     10       3>

In [10]:
df

      area  sales  profit
0    North      5       2
1     East     25       8
2     West     15       6
3    South     20       5
4  Central     10       3

In [11]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [12]:
df.columns

Index(['area', 'sales', 'profit'], dtype='object')

In [13]:
df.values

array([['North', 5, 2],
       ['East', 25, 8],
       ['West', 15, 6],
       ['South', 20, 5],
       ['Central', 10, 3]], dtype=object)

In [14]:
x = df.values

In [15]:
type(x)

numpy.ndarray

In [16]:
df.area.mean

<bound method Series.mean of 0      North
1       East
2       West
3      South
4    Central
Name: area, dtype: object>

In [17]:
df.profit.mean

<bound method Series.mean of 0    2
1    8
2    6
3    5
4    3
Name: profit, dtype: int64>

In [18]:
df.profit.mean

<bound method Series.mean of 0    2
1    8
2    6
3    5
4    3
Name: profit, dtype: int64>

In [19]:
df.iloc

In [ ]:
getting a particular value, orw or columns
 * iloc
 * loc

In [21]:
df.iloc[0:2,]

    area  sales  profit
0  North      5       2
1   East     25       8

In [22]:
df.loc[0,'area']

'North'

In [23]:
df

      area  sales  profit
0    North      5       2
1     East     25       8
2     West     15       6
3    South     20       5
4  Central     10       3

In [24]:
df.sales = df.sales * 2

In [25]:
df

      area  sales  profit
0    North     10       2
1     East     50       8
2     West     30       6
3    South     40       5
4  Central     20       3